@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Roboto:wght@300&display=swap');

:root {
  --bg-color: #e4faf4;
  --h1-color: #222222;
  --text-color: #555555;
  --btn-color: #00d09c;

  /* font size */
  --font-size-h1: 40px;
  --font-size-h2: 30px;
  --font-size-h3: 17px;
  --font-size-txt: 14px;
  --font-size-small: 13px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-wrap: break-word;
  font-family: 'Roboto', sans-serif;
}

.wrap {
  max-width: 1160px;
  min-width: 1024px;
  margin: 0 auto;
  padding: 20px;
}

a {
  text-decoration: none;
  color: #222222;
}

p {
  color: #555555;
}
li {
  list-style: none;
}

h1 {
  font-size: 40px;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: -0.04em;
}

h2 {
  font-size: 24px;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: -0.04em;
}
input,
select {
  border: none;
  background: none;
  outline: none;
}
select,
.link-btn {
  cursor: pointer;
}
.quickMenu,
.section02 {
  background-color: #e4faf4;
}

/*           퀵메뉴          */
#quick-menu {
  height: 30px;
  font-size: 13px;
  color: #222222;
  text-align: right;
  padding-top: 5px;
}

#quick-menu span {
  padding-left: 8px;
}

#app span > svg {
  vertical-align: -2px;
}

/*        헤더          */
#header {
  display: flex;
  height: 110px;
  justify-content: space-between;
  align-items: center;
}
form {
  display: flex;
  align-items: center;
  height: 42px;
  padding: 10px 15px;
  background-color: #f5f5f5;
  border-radius: 6px;
}
.search-input-field {
  margin-left: 5px;
  padding-left: 5px;
  width: 180px;
  font-size: 13px;
  color: #555555;
}
.header-right,
.nav > ul {
  display: flex;
  align-items: center;
}
.nav > ul > li {
  padding-left: 20px;
  font-size: 14px;
}

/*            섹션01            */
#section01 {
  height: 580px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#section01-txt {
  width: 450px;
  padding-bottom: 40px;
  line-height: 2em;
  font-size: 17px;
}
#section01-txt > h1,
#section01-txt > p,
#section01-txt > button {
  margin: 1.2em 0;
}
.underline {
  font-family: 'Josefin Sans', sans-serif;
  box-shadow: inset 0 -12px #b1f0e0;
}
.link-btn {
  height: 52px;
  border: 0;
  padding: 10px 40px;
  font-family: 'roboto', sans-serif;
  font-size: 18px;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  background-color: #00d09c;
}
.link-btn:hover {
  border: 0;
  background-color: #1bc79c;
}

.img-slide > img {
  box-shadow: -15px 15px #e8f9f5;
}

/*            섹션02            */
#section02 {
  height: 190px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#section02-txt {
  width: 500px;
}
#section02-txt > h1 {
  font-size: 200%;
}
#section02-txt > p {
  position: relative;
  top: 1em;
  line-height: 2em;
}
.partners {
  min-width: 410px;
  display: flex;
  justify-content: space-between;
}

/*            섹션03            */
#section03 {
  height: 790px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#section03-txt {
  width: 360px;
  height: 450px;
}
#section03-txt h1 {
  position: relative;
  top: 10px;
}
#section03-list {
  position: relative;
  top: 40px;
  line-height: 2.5em;
}
#section03-list li {
  list-style-image: url('./img/section03_check.svg');
  list-style-position: inside;
  color: #555555;
}
#section03-txt button {
  position: relative;
  top: 60px;
}

/*            섹션04             */
.section04 {
  background: linear-gradient(#e4faf4, #fff 60%);
}
#section04 {
  height: 850px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#section04-txt {
  line-height: 2em;
}

#section04-subtxt {
  position: relative;
  top: 50px;
  display: flex;
  justify-content: space-between;
}
#section04-subtxt div {
  height: 380px;
  width: 250px;
}
#section04-subtxt button {
  position: relative;
  top: 50px;
}
#section04 > img {
  box-shadow: 15px 15px #e8f9f5;
}

/*            섹션05            */
.section05 {
  background-image: url(./img/section05_bg.png);
  background-repeat: repeat-x;
  background-position: bottom;
  height: 450px;
}
#section05 {
  width: 100%;
  position: relative;
  top: 30px;
  text-align: center;
}
#section05 > p {
  width: 380px;
  line-height: 1.5em;
  margin: 15px auto;
}
#download-app {
  position: relative;
  top: 10px;
  line-height: 5em;
}

#footer {
  height: 42px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  color: #555555;
}
.footer-sns {
  display: flex;
}
.footer-sns li {
  padding-left: 20px;
}

.nav-toggle-btn {
  position: absolute;
  top: 25px;
  right: 20px;
  display: none;
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 32px;
  }

  .wrap {
    max-width: 100%;
    min-width: 100vw;
  }

  #section01 img,
  #section04 img {
    display: none;
  }

  #section01 {
    height: 470px;
  }

  #section01-txt {
    font-size: 15px;
  }

  #section02 {
    height: 400px;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }
  #section02-txt {
    width: 100%;
    font-size: 15px;
  }
  .partners {
    min-width: calc(100vw - 40px);
  }

  #section03 {
    height: 930px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
  }
  #section03 img {
    max-width: 100%;
  }

  #section03-txt {
    width: 320px;
  }

  #section04 {
    height: 1000px;
  }
  #section04-subtxt {
    flex-direction: column;
  }

  #section05 {
    height: 450px;
    text-align: center;
  }
  #section05 > h1 {
    line-height: 1.2em;
  }
  #section05 > p {
    max-width: 300px;
  }

  .quickMenu {
    display: none;
  }

  #header {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }

  #footer {
    height: 100px;
    flex-direction: column-reverse;
    justify-content: space-around;
  }

  .logo svg {
    width: 80%;
  }

  form {
    position: relative;
    top: 20px;
  }

  .search-input-field {
    width: 76vw;
  }

  .header-right {
    flex-direction: column;
    align-items: center;
  }

  .nav-toggle-btn {
    display: block;
  }

  .nav {
    display: none;
  }

  .nav > ul {
    flex-direction: column;
    align-items: center;
  }

  .nav > ul > li {
    width: 100vw;
    line-height: 5em;
    border-top: solid #ccc 1px;
    text-align: center;
  }

  .nav.active {
    display: block;
    position: absolute;
    top: 70px;
    z-index: 1;
    background-color: white;
    box-shadow: #ddd 0px 10px 10px;
  }
}
